<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Name"
      formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Description"
      formControlName="description"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Machine description"
      formControlName="equipment"
    >
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="form.invalid">Save</button>
</form>
