<form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field>
    <input
      matInput
      type="email"
      placeholder="e-mail"
      formControlName="email"
      required
      email>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
      required>
  </mat-form-field>
  <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  <button
    *ngIf="!(isLoading$ | async)"
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid">Login</button>
</form>
