<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field>
    <input
      matInput
      type="email"
      name="email"
      ngModel
      placeholder="e-mail"
      required
      email>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="password"
      name="password"
      ngModel
      placeholder="Password"
      required>
  </mat-form-field>
  <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  <button
    *ngIf="!(isLoading$ | async)"
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="loginForm.invalid">Login</button>
</form>
