<mat-nav-list>
  <a mat-list-item href="#" (click)="onSidenavClose()">
    <mat-icon>face</mat-icon>
    <span class="navigation-caption">Sign Up</span>
  </a>
  <a mat-list-item href="#" (click)="onSidenavClose()">
    <mat-icon>input</mat-icon>
    <span class="navigation-caption">Login</span>
  </a>
  <a mat-list-item href="#" (click)="onSidenavClose()">
    <mat-icon>fitness_center</mat-icon>
    <span class="navigation-caption">Training</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>eject</mat-icon>
      <span class="navigation-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
